[class*="custom-title"] {
	display: inline-block;

	width: fit-content;
	height: fit-content;

	border-radius: var(--rounded-sm);
	padding: var(--padding, 0.95rem 1.625rem);

	font-weight: var(--fw, var(--font-weight-6));
	font-size: var(--fs, var(--font-size-0));

	text-transform: uppercase;
	letter-spacing: var(--ls, 2px);

	cursor: pointer;
}
