@use "../abstracts" as *;
@use "sass:math" as *;

.main--home {
	display: grid;

	grid-template-columns: repeat(auto-fit, minmax(21.5rem, 1fr));
	grid-auto-rows: 1fr;
	gap: 1.5rem;

	width: var(--root-max-width);

	[class*="card--"] {
		grid-row: span var(--grid-row, 5);

		$properties: transform;

		border-radius: var(--rounded-lg);
		padding: 1rem;

		transition-property: $properties;
		will-change: $properties;
		transition: 300ms ease-out;

		&.row-ratio {
			--grid-row: 7;
			aspect-ratio: 3 / 4;
		}

		[class*="custom-title"] {
			--padding: 0.5rem 1rem;
			--fs: 0.65rem;
			--fw: var(--font-weight-5);
		}

		.title {
			font-size: var(--fs, 1.875rem);
			font-family: var(--font-serif);
		}

		&:enter {
			$scale: 1.05;
			transform: scale3d($scale, $scale, 1);

			[class*="custom-title"] {
				animation: spin-x 1500ms ease-out normal;
				transform-style: preserve-3d;
			}
			@keyframes spin-x {
				0% {
					transform: perspective(1000px) rotateX(180deg);
				}
				25%,
				100% {
					transform: perspective(1000px) rotateX(360deg);
				}

				35% {
					transform: perspective(1000px) rotateX(390deg);
				}

				60% {
					transform: perspective(1000px) rotateX(350deg);
				}
			}
		}
	}

	.card {
		&--base {
			display: grid;
			place-items: center;
			grid-auto-rows: auto;
			gap: 1rem;

			.desc {
				text-align: center;
				font-size: var(--font-size-fluid-0);
				line-height: 2.5ex;
			}

			.link {
				$x: 1rem;
				$ratio: div($x * 9, 16);
				$padding: $ratio $x;

				padding: $padding;
				border-radius: var(--rounded-full);
				border: 1px solid var(--clr-brand-1);

				font-size: 0.875rem;
				text-transform: uppercase;
				letter-spacing: var(--font-letterspacing-1);
			}

			&.text-brand-4 .link {
				border-color: var(--clr-brand-4);
			}
		}

		&--purple {
			display: grid;
			grid-template-rows: 50% 1fr 2fr 1fr;
			place-items: center;

			background-color: var(--clr-unique-3);
			color: var(--clr-brand-5);

			.img {
				border-radius: inherit;
				height: 100%;
				width: 100%;
				object-fit: cover;
				box-shadow: 0px 8px 12px -6px rgba(0, 0, 0, 0.5);
			}

			.title {
				--fs: var(--font-size-5);
				white-space: pre-wrap;
				letter-spacing: var(--font-letterspacing-2);
				line-height: 2ex;
				text-align: center;
			}

			& > span {
				padding: 0.25rem;
				background-color: var(--clr-brand-1);
				border-radius: var(--rounded-sm);
				transition: background-color 300ms ease-out;
			}

			&:enter {
				& > span {
					background-color: var(--clr-brand-0);
				}
			}
		}

		&--core-theme {
			display: grid;
			place-items: center;
			gap: 0.5rem;
			grid-template-rows: 40% auto auto auto;

			background-color: var(--clr-accent-0);

			.animation {
				display: grid;
				grid-auto-flow: column;
				align-items: center;
				justify-content: center;

				border-radius: inherit;

				width: 100%;
				height: 100%;

				background-color: var(--clr-unique-1);
				box-shadow: inset 0 0 16px -2px rgba(0, 0, 0, 0.5);

				pointer-events: none;

				&::before,
				&::after {
					content: "";
				}

				$size: 4rem;
				&::before,
				&::after,
				& > span {
					display: inline-block;
					border-radius: var(--rounded-full);
					width: $size;
					height: $size;
					background-color: var(--clr-accent-0);
				}

				$duration: 3000ms;

				&::before {
					animation: newton-pendulum-before $duration ease-in infinite forwards;
				}

				& > span {
					animation: newton-pendulum-span ($duration * 1) ease-in
						($duration * -1.5) infinite forwards;
				}

				&::after {
					animation: newton-pendulum-after $duration ease-in ($duration * -1.5)
						infinite forwards;
				}

				@keyframes newton-pendulum-before {
					0%,
					100% {
						transform: translateX(0.2rem);
					}

					50% {
						transform: translateX(-#{$size * 1.2}) translateY(-0.75rem);
					}
					90% {
						transform: translateX(0);
					}
				}

				@keyframes newton-pendulum-span {
					10% {
						transform: translateX(-0.2rem);
					}
					90% {
						transform: translateX(0.2rem);
					}
				}

				@keyframes newton-pendulum-after {
					0%,
					100% {
						transform: translateX(-0.2rem);
					}
					50% {
						transform: translateX(#{$size * 1.2}) translateY(-0.75rem);
					}
					90% {
						transform: translateX(0);
					}
				}
			}
		}
	}
}
