@use "../abstracts/" as *;
@use "sass:string";

//? Prevent Hsl to transform in Hex.
@function hsl($h, $s, $l) {
	@return unquote("hsl(#{$h}, #{$s}, #{$l})");
}

$colors: (
	brand: (
		0: hsl(17, 6%, 25%),
		1: hsl(18, 5%, 36%),
		2: hsl(18, 10%, 75%),
		3: hsl(15, 29%, 92%),
		4: hsl(0, 0%, 100%),
	),
	accent: (
		0: hsl(133, 58%, 58%),
		1: hsl(18, 89%, 59%),
		2: hsl(249, 80%, 86%),
	),
	unique: (
		0: hsl(52, 98%, 62%),
		1: hsl(133, 50%, 14%),
		2: hsl(249, 41%, 29%),
	),
);

:root {
	@each $color, $shades in $colors {
		@each $shade, $clr in $shades {
			$break-hsl: string.slice($clr, 5, -2);
			$clean-hsl: str-replace($break-hsl, ",", "");

			// @debug $clean-hsl;

			// @debug $clr, $break-hsl;
			--clr-#{$color}-#{$shade}: #{$clr};
			--clr-#{$color}-#{$shade}-hsl: #{$clean-hsl};
		}
	}
}
