@use "../abstracts/" as *;
@use "sass:string";

//? Prevent Hsl to transform in Hex.
@function hsl($h, $s, $l) {
	@return unquote("hsl(#{$h}, #{$s}, #{$l})");
}

$brand: (
	brand: (
		0: hsl(0, 0%, 7%),
		1: hsl(17, 6%, 25%),
		2: hsl(18, 5%, 36%),
		3: hsl(18, 10%, 75%),
		4: hsl(15, 29%, 92%),
		5: hsl(0, 0%, 100%),
	),
);

$colors: (
	accent: (
		0: hsl(133, 58%, 58%),
		1: hsl(18, 89%, 59%),
		2: hsl(249, 80%, 86%),
	),
	unique: (
		0: hsl(52, 98%, 62%),
		1: hsl(133, 50%, 14%),
		2: hsl(249, 41%, 29%),
		3: hsl(273, 19%, 50%),
	),
);

:root {
	@each $color, $shades in $brand {
		@each $shade, $clr in $shades {
			$break-hsl: string.slice($clr, 5, -2);
			$clean-hsl: str-replace($break-hsl, ",", "");

			--clr-#{$color}-#{$shade}: #{$clr};
			--clr-#{$color}-#{$shade}-hsl: #{$clean-hsl};
		}
	}

	@each $color, $shades in $colors {
		@each $shade, $clr in $shades {
			$break-hsl: string.slice($clr, 5, -2);
			$clean-hsl: str-replace($break-hsl, ",", "");

			--clr-#{$color}-#{$shade}: #{$clr};
			--clr-#{$color}-#{$shade}-hsl: #{$clean-hsl};
		}
	}
}
