@use "../abstracts" as *;

body {
	color: var(--clr-brand-1);
	background-color: var(--clr-brand-1);
	font-family: var(--font-sans);
	font-weight: var(--font-weight-5);
}

.root {
	display: grid;
	justify-content: center;
	grid-auto-rows: auto;
	gap: var(--size-6);

	padding-block: Min(11vh + 1rem, 15rem);

	width: 100%;
	min-height: 100vw;

	--root-max-width: clamp(2rem, 100vw - 20vw, var(--size-xl));
}
