//? Here is I use to make the base elements of the page;

@use "../abstracts/" as *;

body {
	color: var(--clr-text-0);
	background: var(--clr-surface-0);
}

//! Main div with all the things
.root {
	font-family: var(--font-sans);
}
