//? Here is I use to make the base elements of the page;

@use "../abstracts/" as *;

body {
	color: var(--clr-brand-1);
	background-color: var(--clr-brand-1);
	font-family: var(--font-sans);
	font-weight: var(--font-weight-5);
}

.root {
	width: 100%;
	min-height: 100vw;
	padding-block: Min(9vh + 1rem, 15rem);
}
